<div class="row" ng-controller="codeEditorCtrl">
    <div class="col-lg-12">

        <div class="hpanel">

            <div class="panel-heading">
                Code Editor
            </div>

            <div class="panel-body">

                <p>
                    CodeMirror is a versatile text editor implemented in JavaScript for the browser. It is specialized for editing code, and comes with a number of language modes and addons that implement more advanced editing functionality.
                </p>

                <ui-codemirror ui-codemirror-opts="editorOptions">

 // Example code here

                </ui-codemirror>

            </div>
        </div>

    </div>
</div>
